<template name="notFound">
  <div class="not-found page jumbotron">
    <h1 class="text-primary">404
      <div class="clearfix"></div>
      <small class="text-muted">Oops, the page you're
        <br/> looking for does not exist.</small>
    </h1>
    <p style="margin-top:50px;">You may want to head back to the homepage.
      <br> If you think something is broken, report a problem.</p>
    <div class="clearfix"></div>
    <p class="btn-group">
      <a role="button" class="btn btn-default btn-md" href="/">Go to Homepage</a>
      <a role="button" class="btn btn-default btn-md" href="mailto:hey@pinellas911.co">Report a Problem</a>
    </p>
  </div>
</template>
